.heading {
  font-size: 20px;
  font-weight: 700;
}

.description {
  font-size: 16px;
  max-width: 500px;
}

.wrapper {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 50px 0;
}

.card {
  width: 23%;
  background-color: var(--mantine-color-white);
  padding: 25px;
  border-radius: 10px;
}