.heading {
    font-size: 30px;
    max-width: 300px;
  }
  .description {
    font-size: 16px;
    max-width: 60%;
    margin-bottom: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
  }
  .wrapper {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }